.container {
  
  //position: relative;
  
}

.name {   
  display: flex;
  justify-content: center; 
  font-weight: bold;  
  font-size: 40px;
  color:  #fff;
  margin-top: 50px;
  
}

.name:hover {
  color: #FF4500;
}

.imgInfo{  
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 50px;   
}


.img {
  padding: 5px;
 
}


.information { 
  font-family: "Cabin";
  font-weight: bold; 
  font-size: 20px;

  background-color: #9e9090;
  color: #FF4500;

  border-radius: 10px;
  padding: 15px;

  overflow: hidden;
  //width: 200px; /* Defina a largura desejada para o contêiner da imagem */
  transition: transform 0.3s ease-in-out; 
}

.information:hover {
  background-color: #FF9900;
  color: #FFFFFF;
  transform: scale(1.2);
}

