.container {
  //background-color: #000;
  height: 100vh;
  position: relative;
}

.img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: self-start;
  justify-content: center;
}

.title {   
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;  
  font-size: 40px;
  padding: 10px;
  margin: 16px;
  margin-top: 32px;
  margin-bottom: 4rem;  
}



.information {
  position: absolute;
  top: 22rem;
  right: 8rem;
  background: #fff;
  padding: 2rem;
  line-height: 2.5rem;
}




