header ul {
  background-color: #9e9090;
  margin-top: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    list-style: none;  
    text-decoration: none;  
    font-family: "Cabin";
    font-size: 20px;
    font-weight: bold;
    gap: 48px;      
    padding: 25px 75px 25px;  
    //padding-right: 75px;  

  }

.link {
  text-decoration: none;
  list-style: none;
  color: #000080;
}

link:hover {
    background-color: #9e9090;
}

.title {    
    width: 100%;
    display: flex;
    justify-content: center;    
    background-color: #9e9090;
    font-size: 100px;
    font-family: 'Rubik Burned', system-ui;
    color: #FF4500;
    padding: 25px;

    animation: blink 2.5s infinite;
    
}

.titleWithTransition {
  transition: color 0.5s ease-in-out 0.5s; 
}

.title:hover {
    color: #FF9900;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

