.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    font-size: 18.5px;    
    gap: 7px;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: #9e9090;
    
}


.footer, a {
    color: #000080;
}

.footer a {
    text-decoration: none;    
}

.icon {
    font-size: 35px;    
}

