.footer, h5 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cabin";
    font-weight: bold; 
    font-size: 18.5px;    
    gap: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #9e9090;
    
}

.footer, h5, a {
    color: #000080;
}

.footer a {
    text-decoration: none;    
}

h5 {
    padding-top: 0;
}

a:hover {
   color: #FF9900;
}

.icon {
    font-size: 35px;    
}

.icon:hover {
    color: #FF9900;
 }

